[user]
	name = Justin Pecott
	email = justin@pecott.net
[color]
    ui = auto
[core]
    quotepath = false
    editor = subl -n -w
	excludesfile = /Users/justin/.gitignore_global
[alias]
    br = branch -a
    st = status
    ci = commit
    co = checkout
    l = log --stat -C -3
    ll = log --stat -C
    info = !echo "= REMOTES ====" && git remote -v && echo "= BRANCHES ===" && git branch -a && echo "= STATUS =====" && git status -s
    d = diff --color-words
    dh = diff HEAD
    dc = diff --staged
    who = shortlog -s --
    graph = log --pretty=oneline --abbrev-commit --graph --decorate=short --all
    graph2 = log --graph --date-order -C -M --pretty=format:\"<%Cred%h%Creset> %Cblue%ad%Creset [%Cgreen%an%Creset] %Cblue%s%Creset\" --all --date=short
    sync = !git pull --rebase && git push
    gcap = gc --aggressive --prune
    scrub = !git reset --hard && git clean -fd
    sealog = log --graph --decorate --pretty=oneline --abbrev-commit --all
[branch]
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[diff]
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false
[merge]
    tool = Kaleidoscope
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
