[user]
    name = Justin Pecott
    email = justin@pecott.net
# Conditionally change username and email - http://garrit.xyz/posts/2023-10-13-organizing-multiple-git-identities
#[includeIf "gitdir:~/Code/amazon/"]
#    path = ~/.gitconfig-work
[core]
    quotepath = false # Outputs special characters as is rather than c source code quoted
    editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    br = branch -a
    st = status
    co = checkout
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate
    info = !echo "= REMOTES ====" && git remote -v && echo "= BRANCHES ===" && git branch -a && echo "= STATUS =====" && git status -s
    undo = reset HEAD~1 --mixed
    amend = commit -a --amend
[push]
    default = simple
[filter "media"] # Image Support
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[filter "hawser"] # GitHub large file support
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[pager]
	branch = false
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[init]
	defaultBranch = main
